<%inherit file="../base.html"/>
<%def name="title()">
    网站管理
</%def>

<%def name="content()">
    <table class="table table-hover">
    <thead>
    <tr>
        <td>Siteid</td>
        <td>SiteName</td>
        <td>Domain</td>
        <td>operation&nbsp;&nbsp;<a href="javascript:void(0)" class="btn btn-mini btn-success"><i class="icon-plus"></i>添加</a></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>新浪</td>
        <td>sina.com.cn</td>
        <td>
            <a href="javascript:void(0)" class="operation"><i class="icon-edit"></i></a>
            <a href="javascript:void(0)" class="operation"><i class="icon-remove"></i></a>
        </td>
    </tr>
    <tr>
        <td>1</td>
        <td>新浪</td>
        <td>sina.com.cn</td>
        <td>operation</td>
    </tr>
    <tr>
        <td>1</td>
        <td>新浪</td>
        <td>sina.com.cn</td>
        <td>operation</td>
    </tr>
    </tbody>
</table>
</%def>
