#coding=utf-8
import os

DEBUG=True
ROOT=os.path.abspath(os.path.join(os.path.dirname(__file__), '../'))
HOST="0.0.0.0"
PORT=8080

MONGO_DB_SERVER='127.0.0.1:27017'
MONGO_DB_NAME = "buzz_test"
PARSER_SERVER=("127.0.0.1", 10011)
